a:link	{
	color:blue;
}
a:visited	{
	color: purple;
}
a:active	{
	color: red;
}
a:hover	{
	color: red;
}
a.footnote	{
	text-decoration: none;
}
a.footnote:visited	{
	color: darkred;
}
a.footnote:hover	{
	color: red;
}
blockquote	{
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: gray;
	background: whitesmoke;
	margin-left: 20px;
	padding: 5px;
}
body	{
	color: black;
}
div.center {
	text-align: center;
}
div.footer {
	text-align: right;
}
div.footnote {
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: gray;
	margin-top: 2em;
	padding: 5px;
}
div.ascii-art{
	font-size: 12pt;
	line-height: 18px;
	font-family: "Mona", "IPA MONAPGOTHIC", "MS PGothic", "ÇlÇr ÇoÉSÉVÉbÉN", "MS P∫ﬁºØ∏", "MS PÉSÉVÉbÉN", sans-serif;
}
div.left {
	margin-left: 10px;
	text-align: left;
}
div.right {
	text-align: right;
}
dd {
	margin-top: 2px;
	margin-bottom: 4px;
}
dl {
	margin-left: 10px;
}
dt {
	border-style: dashed;
	border-color: gray;
	border-width: 0px 0px 1px 0px;
}
h1 {
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	border-color: darkblue;
	padding: 4px;
	background-color: aliceblue;
	font-size: 150%;
	font-weight: normal;
	margin-bottom: 10px;
	text-align: center;
}
h2 {
	border-style: solid;
	border-width: 1px 1px 1px 10px;
	border-color: green;
	padding: 4px 0px 3px 10px;
	background-color: mintcream;
	font-size: 150%;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 10px;
}
h3 {
	border-style: solid;
	border-width: 0px 0px 1px 10px;
	border-color: darkblue;
	padding: 4px 0px 3px 10px;
	font-size: 100%;
	font-weight: normal;
}
img {
	border-style: none;
}
ol.list1 {
	list-style-type: decimal;
}
ol.list2 {
	list-style-type: lower-roman;
}
ol.list3 {
	list-style-type: lower-alpha;
}
p {
	margin-bottom: 0.7em;
	margin-top: 0.7em;
	margin-left: 10px;
}
body.p.hatena {
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	text-indent: 1em
}
pre {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: lightsteelblue;
	margin-left: 10px;
	padding: 5px;
}
span.footnote {
	font-size: 75%;
	vertical-align: super;
}
span.footnote_caption {
	font-size: 80%;
	margin-left: 0.25em;
}
span.marker {
	background-color: #ffff00;
}
table {
	margin: 10px;
	border-collapse: collapse;
	border-style: solid;
	border-width: 2px;
	border-color: darkblue;
}
td {
	border-style: solid;
	border-width: 1px;
	padding: 3pt;
	vertical-align: top;
}
td.center {
	text-align: center;
}
td.right {
	text-align: right;
}
th {
	background-color: lightblue;
	border-style: solid;
	border-width: 1px;
	padding: 3pt;
	vertical-align: top;
}
ul.list1 {
	list-style-type: disc;
}
ul.list2 {
	list-style-type: circle;
}
ul.list3 {
	list-style-type: square;
}


/* menubar */
div.body {
	position: relative;
}

div.main {
	margin-left: 165px;
	padding: 0px 0px 0px 5px;
}

div.menubar {
	font-size: 90%;
	position: absolute;
	top: 0px;
	width: 150px;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
}

div.menubar ul {
	margin-left: 1.5em;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.main2 {
	width: 75%;
	float: right;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
}

div.menubar2 {
	font-size: 90%;
	width: 24%;
	float: left;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
}
